* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.container {
  width: 100%;
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
*:focus {
  outline: 2px dotted #7296ee;
  outline-offset: 3px;
}
.button {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18.96px;
  border-radius: 10px;
  padding: 13px 20px;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
.button:hover {
  opacity: 0.8;
}

.button:active {
  opacity: 0.6;
}
a:hover {
  opacity: 0.8;
}

a:active {
  opacity: 0.6;
}
.global-news-button {
  width: 100%;
  border: none;
  background: #eaeaea;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding: 17px;
  color: #000000;
  border-radius: 10px;
}
.site-header {
}
.site-header-top {
  background-color: #f6f6f6;
  padding: 30px;
  margin-bottom: 10px;
}

.site-header-container {
  display: flex;
  align-items: center;
}
.site-header-logo-link {
  margin-right: 35px;
  background-color: #fff;
  display: flex;
  padding: 9px 6px 8px 6px;
  border-radius: 7px;
}
.site-header-logo-link:hover {
  opacity: 0.8;
}
.site-header-logo-link:active {
  opacity: 0.6;
}
.site-header-logo-img {
  width: 264px;
  height: 28px;
  display: block;
}
.currency-rates {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.currency-rates-item {
  list-style: none;
}
.currency-rates-item:not(:last-child) {
  margin-right: 25px;
}
.currency-rates-type {
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  color: #7296ee;
  font-size: 16px;
}
.currency-rates-value {
  font-family: "Rubik", sans-serif;
  font-weight: normal;
  color: #000;
  font-size: 16px;
}
.site-header-form {
  margin-right: 28px;
}
.site-header-input {
  border-radius: 60px;
  padding: 13px 20px 13px 15px;
  border: 0px;
}
.toggle-lang {
  margin-right: 25px;
  background-color: #dce6ff;
  border-radius: 39px;
  padding: 3px;
}
.toggle-lang-item {
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: #a6a6a6;
  font-size: 13px;
  line-height: 15.41px;
  border-radius: 50%;
  padding: 7px 8px 7px 7px;
  display: inline-block;
}
.toggle-lang-item-active {
  background: #fff;
  color: #000;
}

.button-blue {
  background-color: #7296ec;
  color: #fff;
}
.button-blue:hover {
  opacity: 0.8;
}

.button-blue:active {
  opacity: 0.6;
}
.sitenav {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  border-bottom: 1px solid #d1d1d1;
  margin-bottom: 40px;
}
.sitenav-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
}
.sitenav-item {
  list-style: none;
  margin-top: 4px;
  margin-bottom: 4px;
}
.sitenav-item:not(:last-child) {
  margin-right: 34.44px;
}
.sitenav-link {
  text-decoration: none;
  color: #7f7f7f;
}
.sitenav-link:hover {
  color: #7296ee;
}
.sitenav-link:active {
  opacity: 0.6;
}
.site-header-banner {
  margin-bottom: 50px;
}
.site-header-banner-link {
  display: flex;
}
.site-header-banner-img {
  width: 1200px;
  height: 128px;
}
.site-header-banner-link:hover {
  opacity: 0.8;
}
.site-header-banner-link:active {
  opacity: 0.6;
}

/* MAIN CONTENT */
.main-content {
  flex-grow: 1;
}
.top-news {
}
.news-grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
}
.news-grid-item {
  width: 393px;
  margin-left: 10px;
  margin-bottom: 10px;
}
.news-grid-article {
  background-color: #f6f6f6;
  padding: 20px 17px 15px 17px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}
.news-grid-article-title-link {
  text-decoration: none;
  display: inline-block;
}
.news-grid-article-title {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 26px;
  color: #000;
  margin-bottom: 10px;
}
.news-grid-article-title:hover {
  opacity: 0.8;
}

.news-grid-article-title:active {
  opacity: 0.6;
  color: #7296ec;
}
.news-grid-article-text {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  color: #4a4b4c;
  margin-bottom: 15px;
}
.news-grid-article-img {
  width: 360px;
  height: 165px;
  display: block;
  object-fit: cover;
  margin-top: auto;
}
.news-grid-article-footer {
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.icon {
  width: 20px;
  height: 20px;
  display: flex;
  margin-right: 10px;
}
.news-grid-article-source-time {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 14.22px;
  color: #5e5f61;
}
.notification-cta {
  width: 1050px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
}
.notification-cta-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffd7ba;
  padding: 25px 71px 25px 29px;
  border-radius: 20px;
}
.notification-cta-text {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 26px;
  color: #000;
}
.button-orange {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 23.7px;
  color: #fff;
  border: 0px;
  background-color: orange;
  cursor: pointer;
}
.button-orange:hover {
  opacity: 0.8;
}

.button-orange:active {
  opacity: 0.6;
}

/* GLOBAL-NEWS */

.global-news {
  width: 797px;
}
.global-news-section {
}
.global-news-heading {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  line-height: 28.44px;
  color: #000;
}
.global-news-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.global-news-card {
  margin-bottom: 10px;
}
.global-news-article {
  display: flex;
  align-items: flex-start;
  background-color: #f6f6f6;

  border-radius: 15px;
  padding: 20px 20px 20px 17px;
}
.global-news-article-img {
  width: 210px;
  height: 165px;
  border-radius: 10px;
  display: block;
  margin-right: 15px;
}
.global-news-article-content {
  flex-grow: 1;
}
.global-news-article-content-link {
  display: inline-block;
  text-decoration: none;
}
.global-news-article-content-title {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 26px;
  color: #000;
  margin-bottom: 10px;
}
.global-news-article-content-text {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  color: #4a4b4c;
  margin-bottom: 17px;
}
.global-news-article-content-footer {
  display: flex;
  align-items: center;
}
.global-news-article-content-source-time {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #5e5f61;
}
.sidebar-wrapper {
  display: flex;
  align-items: flex-start;
}
.global-news-side-bar-wrapper {
  margin-left: 10px;
  background: #f6f6f6;
  border-radius: 15px;
  padding: 20px 20px 25px 17px;
  margin-top: 25px;
  width: 393px;
}

.global-news-sidebar {
}
.global-news-sidebar-title {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28.44px;
  color: #000;
  margin-bottom: 25px;
}
.global-news-sidebar-list {
}
.global-news-sidebar-item {
  list-style: none;
  padding-top: 20px;
}
.global-news-sidebar-item:not(:last-child) {
  border-bottom: 1px solid #d2d2d2;
  /* padding-top: 20px; */
}
.global-news-sidebar-item-title {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  margin-bottom: 8px;
  text-decoration: none;
  width: 311px;
}
.global-news-sidebar-item-footer {
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15.41px;
  color: #5e5f61;
  margin-bottom: 20px;
}

.global-news-sidebar-aside {
  margin-left: 10px;
  margin-top: 10px;
}
.global-news-sidebar-img-link {
  display: inline-block;
}
.aside-img {
  display: block;
}
/* FOOTER-SECTION */
.site-footer {
  background-color: #7297ef;
  padding: 40px 221px;
  margin-top: 100px;
}

.site-footer-logo {
  margin-bottom: 15px;
  display: flex;
}
.site-footer-logo-link {
  text-decoration: none;
  display: inline-block;
}
.site-footer-logo-img {
  display: flex;
  width: 100%;
  max-width: 264px;
}
.site-footer-links {
  display: flex;
  align-items: flex-start;
}
.site-footer-about {
  width: 229px;
  margin-right: 203px;
}
.site-footer-about-text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  color: #ffffff;
}
.site-footer-about-links {
  display: flex;
}
.site-footer-list {
  list-style: none;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.site-footer-list-item {
  margin-bottom: 20px;
}
.site-footer-list-item:not(:last-child) {
  margin-right: 100px;
}
.site-footer-list-link {
  text-decoration: none;
  color: #fff;
}

.footer-socials {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.socials-heading-wrapper {
}
.socials-heading {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}
.socials-icons-wrapper {
  display: flex;
  flex-direction: row;
}
.socials-icon-link {
  text-decoration: none;
}
.socials-icon-link:not(:last-child) {
  margin-right: 20px;
}
.socials-icon-img {
  display: block;
}
